
<div class="vertical-scroll">
    <table class="table table-striped">
        <thead>
            Available Lands
        </thead>
        <tbody>
            <tr *ngFor="let land of lands | searchfilter: 'location' : message">
                <td class="table-id">
                    <button class="btn-default-outline btn-block" (click)="newBuyOrder(land)"> 
                        <dl>
                            <dt class="text-capitalize text-right">  &#8358; {{land.price | number:'1.2-2'}} per m<sup>2</sup></dt>
                            <dd class="text-left">{{land.available | number:'1.2-2'}} m<sup>2</sup> available for sale in {{land.area | number:'1.2-2'}} m<sup>2</sup>  at {{land.location}}. {{land.description}}</dd> 
                        </dl>
                    </button>      
               
                </td>
            </tr>
        </tbody>
    </table>    
</div>