<div class="vertical-scroll">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
      <tr *ngFor="let earning of commissions | searchfilter: 'location' : message">
        <td class="table-id">
          <button class="btn-default-outline btn-block"> 
            <dl>
                <dt><div *ngIf="earning.status === 0; else isDenied" class="text-capitalize text-left" style="color:green">Paid</div></dt>
                <ng-template #isDenied>
                    <div *ngIf="earning.status < 0; else isPending" class="text-capitalize text-left" style="color:red">Denied</div>
                </ng-template> 
                <ng-template #isPending>
                    <div class="text-capitalize text-left" style="color:orange">Pending</div>
                </ng-template> 
                <dt class="text-capitalize text-right"> &#8358; {{earning.amount | number:'1.2-2'}}</dt>
              <dd class="text-left">{{earning.rate * 100 | number:'1.2-2'}}% on &#8358; {{earning.trxnAmount | number:'1.2-2'}} paid by
                 {{earning.buyer}} for the purchase of land at {{earning.location}}</dd>
                <dd class="text-capitalize text-right"> <small>{{earning.date}}</small></dd> 
                
            </dl>
          </button>          
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<!--
  id: number;
  type: number;       // {sell/buy}
  buyer: UserClass;
  land: LandClass;
  quantity: number;
  status: number; 
  total: number;    // {sucessful/failed/pending//cancelled}

-->