<div class="vertical-scroll">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders | searchfilter: 'location' : message">
        <td class="table-id">
            <button class="btn-default-outline btn-block"> 
                <dl>
                  <dt class="text-capitalize text-right"> &#8358; {{order.total | number:'1.2-2'}}</dt>
                  <dd class="text-left">{{order.type}} {{order.quantity}} m<sup>2</sup> at {{order.land.location}} </dd>
                  <dd class="text-capitalize text-center"> <small>{{order.date}}</small></dd>
                </dl>
              </button>  
        </td>
      </tr>
      </tbody>
    </table>
  </div>